In [1]:
from transformers import pipeline

d:\Projects\english-to-sql\venv\lib\site-packages\tqdm\auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm

# Hugging face pipeline

In [2]:
pipe = pipeline("text-generation", model="rakeshkiriyath/gpt2Medium_text_to_sql")

In [3]:
pipe('I need a list of employees who joined in the company last 6 months with a salary hike of 30%')

[{'generated_text': 'I need a list of employees who joined in the company last 6 months with a salary hike of 30% and a salary change of 10%SELECT COUNT(*) FROM employees AS T1 JOIN job_recruit_details AS T2 ON'}]

In [4]:
pipe('Give me loginid,status,company of a user who is mapped to the organization XYZ')

[{'generated_text': "Give me loginid,status,company of a user who is mapped to the organization XYZ.SELECT loginid,status,company FROM mapped_to_organization_s_ WHERE organization = 'XYZ'"}]

# LLama inde

In [11]:
# https://docs.llamaindex.ai/en/stable/api_reference/llms/huggingface/

In [6]:
from llama_index.llms.huggingface import HuggingFaceLLM

In [7]:
model_id = "rakeshkiriyath/gpt2Medium_text_to_sql"

llm = HuggingFaceLLM(
    model_name=model_id,
    tokenizer_name=model_id,
    # context_window=3900,
    # max_new_tokens=256,
    # model_kwargs={"quantization_config": quantization_config},
    # generate_kwargs={"temperature": 0.7, "top_k": 50, "top_p": 0.95},
    # messages_to_prompt=messages_to_prompt,
    # completion_to_prompt=completion_to_prompt,
    device_map="auto",
)

In [8]:
llm.complete('Give me loginid,status,company of a user who is mapped to the organization XYZ')

Setting `pad_token_id` to `eos_token_id`:50256 for open-end generation.

CompletionResponse(text='SELECT loginid,status,company FROM user_mapped_to_organization WHERE organization = "XYZ"', additional_kwargs={}, raw={'model_output': tensor([[23318,   502, 17594,   312,    11, 13376,    11, 39722,   286,   257,
          2836,   508,   318, 27661,   284,   262,  4009, 41420,    57, 46506,
         17594,   312,    11, 13376,    11, 39722, 16034,  2836,    62,    76,
          6320,    62,  1462,    62,  9971,  1634, 33411,  4009,   796,   366,
         34278,    57,     1, 50256]])}, logprobs=None, delta=None)

In [10]:
for o in llm.stream_complete('Give me loginid,status,company of a user who is mapped to the organization XYZ'):
    print(o)

Setting `pad_token_id` to `eos_token_id`:50256 for open-end generation.

SELECT
SELECT
SELECT
SELECT
SELECT
SELECT
SELECT loginid,status,company
SELECT loginid,status,company FROM
SELECT loginid,status,company FROM
SELECT loginid,status,company FROM
SELECT loginid,status,company FROM
SELECT loginid,status,company FROM
SELECT loginid,status,company FROM
SELECT loginid,status,company FROM
SELECT loginid,status,company FROM
SELECT loginid,status,company FROM
SELECT loginid,status,company FROM user_mapped_to_organization
SELECT loginid,status,company FROM user_mapped_to_organization WHERE
SELECT loginid,status,company FROM user_mapped_to_organization WHERE organization
SELECT loginid,status,company FROM user_mapped_to_organization WHERE organization =
SELECT loginid,status,company FROM user_mapped_to_organization WHERE organization =
SELECT loginid,status,company FROM user_mapped_to_organization WHERE organization =
SELECT loginid,status,company FROM user_mapped_to_organization WHERE organization =
SELECT loginid,status,company FROM user_mapped_to_organization WHERE organization =
SELECT loginid,status,company FROM user_mapped_to_organization WHERE organization = "XYZ"

In [12]:
prompt = """
You are a Redshift expert.

Please help to generate a Redshift query to answer the question. Your response should ONLY be based on the given context and follow the response guidelines and format instructions.

===Tables
- main.customers(customer_id,customer_name,count_lifetime_orders,first_ordered_at,last_ordered_at,lifetime_spend_pretax,lifetime_tax_paid,lifetime_spend,customer_type)
- main.orders(order_id,customer_id,order_total,ordered_at,order_cost,is_food_order,is_drink_order)

===Response Guidelines
1. If the provided context is sufficient, please generate a valid query without any explanations for the question.
2. If the provided context is insufficient, please explain why it can't be generated.
3. Please use the most relevant table(s).
5. Please format the query before responding.
6. Please always respond with a valid well-formed JSON object with the following format

===Response Format
{
    "query": "A generated SQL query when context is sufficient.",
    "explanation": "An explanation of failing to generate the query."
}

===Question
order count by customer
"""
llm.complete(prompt)

Setting `pad_token_id` to `eos_token_id`:50256 for open-end generation.

CompletionResponse(text='SELECT order_count_lifetime_orders FROM table_name_95 WHERE customer_id = "redshift"', additional_kwargs={}, raw={'model_output': tensor([[  198,  1639,   389,   257,  2297, 30846,  5887,    13,   198,   198,
          5492,  1037,   284,  7716,   257,  2297, 30846, 12405,   284,  3280,
           262,  1808,    13,  3406,  2882,   815, 22224,   307,  1912,   319,
           262,  1813,  4732,   290,  1061,   262,  2882,  9949,   290,  5794,
          7729,    13,   198,   198, 18604,    51,  2977,   198,    12,  1388,
            13, 23144,   364,     7, 23144,   263,    62,   312,    11, 23144,
           263,    62,  3672,    11,  9127,    62, 36195,  8079,    62,  6361,
            11, 11085,    62, 24071,    62,   265,    11, 12957,    62, 24071,
            62,   265,    11, 36195,  8079,    62,  2777,   437,    62,  5310,
           897,    11, 36195,  8079,    62, 19290,    62, 20333,    11, 36195,
          8079,    62,  2777,   437,    11, 23144,   263,    62,  4906,     8,
           198,    12,  1388,    13,  6361,     7,  2875,    62,   312,    11,
         23144,   263,    62,   312,    11,  2875,    62, 23350,    11, 24071,
            62,   265,    11,  2875,    62, 15805,    11,   271,    62, 19425,
            62,  2875,    11,   271,    62,  7109,   676,    62,  2875,     8,
           198,   198, 18604, 31077, 31072,   198,    16,    13,  1002,   262,
          2810,  4732,   318,  6751,    11,  3387,  7716,   257,  4938, 12405,
          1231,   597, 18681,   329,   262,  1808,    13,   198,    17,    13,
          1002,   262,  2810,  4732,   318, 19022,    11,  3387,  4727,  1521,
           340,   460,   470,   307,  7560,    13,   198,    18,    13,  4222,
           779,   262,   749,  5981,  3084,     7,    82,   737,   198,    20,
            13,  4222,  5794,   262, 12405,   878, 14409,    13,   198,    21,
            13,  4222,  1464,  3031,   351,   257,  4938,   880,    12, 12214,
         19449,  2134,   351,   262,  1708,  5794,   198,   198, 18604, 31077,
         18980,   198,    90,   198,   220,   220,   220,   366, 22766,  1298,
           366,    32,  7560, 16363, 12405,   618,  4732,   318,  6751, 33283,
           198,   220,   220,   220,   366,  1069, 11578,   341,  1298,   366,
          2025,  7468,   286,  9894,   284,  7716,   262, 12405,   526,   198,
            92,   198,   198, 18604, 24361,   198,  2875,   954,   416,  6491,
           198, 46506,  1502,    62,  9127,    62, 36195,  8079,    62,  6361,
         16034,  3084,    62,  3672,    62,  3865, 33411,  6491,    62,   312,
           796,   366,   445, 30846,     1, 50256]])}, logprobs=None, delta=None)